@media all and (max-width: 510px) {

    * {
        margin: 0;
    }

    .backGroundPicture {
        background-position: top 14em right -6em;
        background-size: 24em;
        opacity: 0.9;
    }

    .backGroundCard {
        display: none;
    }

    .displayDesktop {
        display: none;
    }

    .displayResponsivMobile {
        display: block;
    }

    .txtModH2 {
        font-size: 2em;
        margin-top: 0.8em;
    }

    /*****************************/

    .headerResponsiv {
        display: flex;
        justify-content: space-between;
    }

    .headerResponsiv img {
        margin: 0.2em 0.8em;
    }

    .menuBurger,
    .menuBurgerCross {
        height: 1.2em;
    }

    .btnPrimary {
        text-align: center;
        padding: 0.6em 1.2em;
        font-weight: 400;
        font-size: 16px;
    }

    /***********************************************/

    .heroSection {
        padding-top: 3em;
        margin: 1.4em;
    }

    .heroSection h1 {
        font-size: 1.86em;
        font-weight: 900;
    }

    .heroSection .title h2 span {
        font-size: 24px;
        font-weight: 400;
    }

    .heroSection .title h2 {
        line-height: 18px;
    }

    .heroSection .title h3 {
        margin-top: 1em;
        font-size: 1.2em;
        font-weight: 100;
        width: 90%;
    }

    .buttonTitleMarginTop {
        margin-top: 1em;
    }

    .statistics {
        margin-top: 1.4em;
        font-size: 1em;
        flex-direction: column;
        align-items: flex-start;
        margin-left: 1em;
    }

    .borderStat {
        border: none;
        padding-left: 24px;
    }

    .marginResponsiv {
        padding: 0em 1em;
    }

    .statistics div {
        margin: 0.2em 0em;
        line-height: 32px;

    }

    .statAndReserch .justifyContent {
        display: flex;
        justify-content: center;
    }

    .btnReserch {
        padding: 0.8em 0;
        margin: 2em 0.8em;
        border-radius: 0.6em;
        font-size: 1.2em;
        text-align: center;
        width: 100%;
    }

    .btnReserch img {
        margin-right: 0.6em;
        position: relative;
        top: 2px;
        height: 1em;
    }

    .currentMission h3 {
        font-weight: 400;
        margin-top: 1.6em;
    }

    .pictureMissionAndTxt {
        flex-direction: column;
    }

    .currentMission img {
        width: 100%;
        height: 160px;
    }

    .widthBtnMission {
        display: flex;
        justify-content: center;
        margin-right: 2em;
    }

    .lineMissions {
        width: 25%;
    }

    .pictureMissionAndTxt .row {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 1.4em;
        justify-content: flex-start;
        margin-left: -4px;
    }

    .pictureMissionAndTxt .link {
        color: #F28B50;
        text-decoration: underline;
    }

    /************************/

    .aboutTxt {
        margin: auto;
        width: 80%;

    }

    .aboutTxt p {
        margin: 0.6em 0;
        font-size: 1.14em;
    }

    .aboutLine {
        margin: 1em 0;
        left: 0.2em;
    }

    .aboutPictureAndName img {
        width: 100%;
    }

    .aboutPictureAndName h3 {
        margin-top: 0.8em;
        margin-left: 10px;
    }

    .aboutPictureAndName h3,
    .aboutPictureAndName p {
        font-size: 1em;
        margin-left: 10px;
    }

    .aboutPictures {
        margin-bottom: 14em;
    }

    /***************************/


    .contact {
        width: 100%;
    }

    form {
        padding: 1em 4em 0.2em 4em;
        border-radius: 0;
    }

    .contact h3 {
        font-size: 1.6em;
        padding: 1.4em 0;
        top: -2.4em;
        width: 100%;
    }

    .rowUp {
        flex-direction: column;
    }

    .nameForm,
    .emailForm,
    .rowDown {
        margin: auto;
        width: 100%;
    }

    .widthBtnContact {
        font-size: 1em;
        width: 90%;
        margin: 2em 0;
    }

    /**************/

    .reviews h2 {
        font-size: 1.6em;
    }

    .reviewsLine {
        margin: 0.4em;
        width: 6%;
    }

    .reviewsDisplay {
        display: flex;
        flex-direction: column;
    }

    .reviewsSize {
        width: 90%;
        margin: 0.6em 0;
    }

    footer {
        flex-direction: column;
    }

    footer hr {
        opacity: 1;
        width: 25%;
    }

    footer img {
        height: 2em;
        margin: 0 1.2em;
    }
}

@media all and (max-width: 380px) {

    .backGroundPicture {
        background-position: top 16em right -6.6em;
        background-size: 24em;
    }
}